<!DOCTYPE html>
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Best Platform for Onlne School Mangement | GyanMandir 

block scripts
    script(src="/static/index.js")

block style 
    style 
        include ../static/homestyle.css
        
block content
    section#Main-section 
        div#para 
            p Welcome to #{school.schoolname}  
            p Admin Page   
        button.btn#btn1 
            li #[a(href='/logout') Logout]
    button.btn 
        li #[a(href='/newteacher?id='+school._id) Add Teacher]
    button.btn 
        li #[a(href='/newteacherlist?id='+school._id) Show Teachers]
    button.btn 
        li #[a(href='/newstudent?id='+school._id) Add Student]
    button.btn 
        li #[a(href='/newstudentlist?id='+school._id) Show Students]
    
             
                
