<!DOCTYPE html>
html(lang="en")
    head
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      title Best Platform for Onlne School Mangement | GyanMandir 
block scripts
    script(src="/static/signup.js")

block style 
    style 
        include ../static/signup.css

block content
    div#main-section 
        div.image-container
            div#image1
                a(href="/") 
                    img(src="/static/photos/logo.jpeg", alt="Gyanmandir")
            div#image3 
                p World's first fully integrated SaaS-based mixed learning platform
                img(src="/static/photos/picture20.png", alt="NextEra")
        div#login-container    
            div#container 
                div#login-matter
                    h3 Sign Up 
                    form(action="/signup", method="post") 
                        label.form School name
                            input.padding(type="text", name="schoolname", required)
                        label.form Email
                            input.padding(type="email", name="email",required)
                        label.form Phone number
                            input.padding(type="text", name="phone",required)
                        label.form School Code
                            input.padding(type="text", name="schoolcode",required)
                        label.form Board
                            input.padding(type="text", name="board",required )
                        label.form Country
                            input.padding(type="text", name="country",required)
                        label.form State
                            input.padding(type="text", name="state" ,required)
                        label.form Create Password
                            input.padding(type="password", name="password" ,required)
                        
                        input.final(type="submit",value="Submit") 
                    p.span #{message}
                        

block foot
    div#footer
        | Copyright © 2023 GyanMandir.com | All rights reserved
     
    