<!DOCTYPE html>
html(lang="en")
    head
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      title Best Platform for Onlne School Mangement | GyanMandir 
block scripts
    script(src="/static/indexDashboard.js")

block style 
    style  
        include ../static/teacherlist.css

block content
    section#main-section
        h3 #{word} list 
        div#container
            table
                tr 
                    th Name 
                    th Email   
                    th Phone
                each val in teacher 
                    tr
                        td= val.name
                        td= val.email 
                        td=val.phone
