<!DOCTYPE html>
html(lang="en")
    head
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      title Best Platform for Onlne School Mangement | GyanMandir 
block scripts

block style 
    style  
        include ../static/teacher.css

block content
    nav#navbar
        ul
            li 
                img(src="/static/photos/school_building.png", alt="school")
            li 
                h3 #{teacher.schoolname}
        div#side-bar
            ul
                li Session: #{teacher.session_start}-#{teacher.session_end}
                li #[a(href='/setting') Settings]
                li #[a(href='/teacherlogout') Logout ]
    
    section#first-section 
        p Teacher Dashboard     

    div#container
        div.mater-card
            h3 Manage Class 
            p In this modern era managing your class is the key to functing of a good school for this click on below link to start a manage class
            li #[a(href='/liveclasslist') manage Class]

        div.mater-card
            h3 Teacher Attendence
            p Attendence maintaining is important as it help in smooth functioning of school teaching process to check your attendence click below. 
            li #[a(href='/teacherattendence') Teacher Attendence ]
                
        div.mater-card
            h3 Online Resources
            p Online Resources not only help students but also help teachers in enhancing there work efficiency click below  
            li #[a(href='/liveclasslist') Online Resources]
        
        //- div.mater-card
        //-     h3 Monitering Student Attendence
        //-     p Regular attendance allows students to stay up-to-date with what is being taught.For this there attendence should be check regulary please click below 
        //-     li #[a(href='/studentattendence') Student Attendence ]


        //- //- div.mater-card
        //- //-     h3 Salary Check 
        //- //-     p To check your salary slip and payment due click on below link 
        //- //-     li #[a(href='/salarycheck') Salary Check ] 

        //- //- div.mater-card
        //- //-     h3 Give Assingments 
        //- //-     p Giving Assingments help students in learning things more effectivly and revising old topics eaisly Click below to give assignment
        //- //-     li #[a(href='/assingment') New Assingment ] 

block foot
    div#footer
        | Copyright © 2023 GyanMandir.com | All rights reserved
        
    


    